@charset "utf-8";
// Import Bulma's core
@import "../node_modules/bulma/sass/utilities/_all";

// Import Google fonts

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,700|Raleway:200,300,400');

// Overwriting Bulma variables:

// Colors

$primary: #458FDD;
$link: #5D6BFF;
$link-visited: #000;

// Typography

$family-primary: BlinkMacSystemFont, -apple-system, "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Generic

$body-background-color: #f1f3f5;

$body-weight: $weight-light;

$body-size: 12px;

$radius: $radius-small;

// Forms

$label-weight: $weight-normal;

$control-radius: $radius-small;

$label-color: $primary;

// Boxes

$box-radius: $radius-small;

$box-shadow: 0 6px 8px rgba(102,119,136,.03), 0 1px 2px rgba(102,119,136,.3);

// Headings & Titles

$content-heading-color: $primary;

$title-color: $primary;

$subtitle-color: $primary;

$title-weight: $weight-light;

$content-heading-weight: $weight-light;

$subtitle-weight: $weight-light;

// Modals

$modal-card-head-radius: $radius-small;

$modal-card-foot-radius: $radius-small;

// Project Styles:

// General

body {
  * {
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
}

.box {
  box-shadow: $box-shadow;
  border-radius: $radius-small;
  background-color: #fff;
}

// Bugfix for is-primary-class that does not work correctly atm
#wrapper button.is-primary,
#wrapper .button:not(.is-outlined).is-primary,
#wrapper .tag:not(body).is-primary,
#wrapper .has-text-primary,
#wrapper .hero.is-primary {
  background-color: $primary;
}
#wrapper .icon.has-text-primary {
  background-color: transparent;
}

// Typography

h1, h2, h3, h4, h5, h6,
.title,
.subtitle {
  font-family: 'Raleway', sans-serif;
}

// Navigation

#menuwrapper {

  #mainmenu {
    display: inline-block;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 199px;

    .menu-list a {

      padding-left: 0;

      &.is-active {
        background-color: transparent;
        color: $primary;
      }

      span {
          vertical-align: middle;
      }
    }

    @media only screen and (max-width: 1087px) {
        background-color: #f8f8f8;
        box-shadow: 0 0 3px #ccc;
        z-index: 9;
        height: 100vh;
        left: -200px;
    }
  }

  &.nav-toggled {
    @media only screen and (max-width: 1087px) {
      #mainmenu {
        left: 0;
      }
      #menuswitch {
        left: 205px;
      }
    }
  }

  #menuswitch {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 10;
  }

}

.section .menu-list a {
    -webkit-transition: none;
    transition: none;

    &:hover {
        background-color: transparent;
        font-weight: 500;
    }

    &.is-active {
      font-weight: 500;
    }
}

#navspace {
  width: 200px;
}

// Cards

.card {
  border-radius: $radius-small;
}

#wrapper .card-with-sidemenu {

  box-shadow: $box-shadow;
  border-radius: $radius-small;

  .card,
  .card-header {
    box-shadow: none;
    border-radius: 0;

    .card-header-title {
      padding: 5px 1.5rem 0;
    }
  }

  aside {
    background-image: linear-gradient(44deg, #5BBBFF 0%, #5A7EFF 89%);

    .menu-label {
        padding: 1rem 1rem 0;
        color: #fff;
        font-size: 12px;
    }

    .menu-list a {
      color: #fff;

      span {
          vertical-align: middle;
      }

      &.is-active {
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

// Panels

.panel {
  border-radius: $radius-small;
  box-shadow: $box-shadow;
  background-color: #fff;

  .panel-heading {
      background-color: transparent;
      background-image: linear-gradient(44deg, #5BBBFF 0%, #5A7EFF 89%);
      color: #fff;
      border: none;
      padding: 2rem 1rem;

      &:first-child {
        border: none;
      }
  }

  .panel-tabs, .panel-block,
  .panel-tabs:first-child,
  .panel-block:first-child {
      border: none;
      padding: 1rem;
  }
}

// Tables

table.no-bg-table {
  background-color: transparent;
}

// Forms

#wrapper .upload .upload-draggable {
  border-radius: $radius-small;
}

/* Clipboard:




*/

/*
   Styles that are irrelevant
   to the actual project and
   simply make the style guide
   look better
*/

.button-section a {
  margin-bottom: 10px;
}




// Import Bulma and Buefy styles
@import "../node_modules/bulma/bulma";
@import "../node_modules/buefy/src/scss/buefy";
