<section class="section" id="forms">
  <h2 class="title is-3">Forms</h2></br>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input">
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="text" placeholder="Text input" value="bulma">
          <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
          <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
        </div>
        <p class="help is-success">This username is available</p>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
          <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
          <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
      </div>

      <div class="field">
        <label class="label">Subject</label>
        <div class="control">
          <div class="select">
            <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
      <input type="checkbox">
      I agree to the <a href="#">terms and conditions</a>
    </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="radio">
      <input type="radio" name="question">
      Yes
    </label>
          <label class="radio">
      <input type="radio" name="question">
      No
    </label>
        </div>
      </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>

    </div>
    <div class="column">

      <div class="field has-addons">
        <p class="control">
          <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>€</option>
      </select>
    </span>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Amount of money">
        </p>
        <p class="control">
          <a class="button is-primary">
      Transfer
    </a>
        </p>
      </div>

      <div style="margin-bottom: 15px;"><div class="select is-rounded">
        <select>
          <option>Rounded dropdown</option>
          <option>With options</option>
        </select>
      </div></div>

      <div><div class="select is-multiple">
        <select multiple size="8">
      <option value="Argentina">Argentina</option>
      <option value="Bolivia">Bolivia</option>
      <option value="Brazil">Brazil</option>
      <option value="Chile">Chile</option>
      <option value="Colombia">Colombia</option>
      <option value="Ecuador">Ecuador</option>
      <option value="Guyana">Guyana</option>
      <option value="Paraguay">Paraguay</option>
      <option value="Peru">Peru</option>
      <option value="Suriname">Suriname</option>
      <option value="Uruguay">Uruguay</option>
      <option value="Venezuela">Venezuela</option>
    </select>
  </div></div>

    </br><div class="field">
        <!----><label class="upload control"><div class="upload-draggable is-primary"><section class="section"><div class="content has-text-centered"><p><span class="icon is-large"><i class="mdi mdi-upload mdi-48px"></i></span></p> <p>Drop your files here or click to upload</p></div></section></div> <input type="file" multiple="multiple"></label>
        <!---->
      </div>

    </div>
</section>
