<section class="section" id="notification">
  <h2 class="title is-3">Notification</h2>
  <div class="columns"><div class="column is-one-third">
  <div class="notification is-primary">
    <button class="delete"></button>
    Lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Sit amet,
    consectetur adipiscing elit
  </div>
</div></div>
</section>
