<div id="menuwrapper">
  <div id="menuswitch" class="is-hidden-desktop">
    <span class="icon">
        <i class="fas fa-bars"></i>
    </span>
  </div>
  <aside class="menu" id="mainmenu">
    <p class="menu-label">
      Navigation
    </p>
    <ul class="menu-list">
      <li>
        <a href="#breadcrumb">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Breadcrumb</span>
        </a>
      </li>
      <li>
        <a href="#cards">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Cards</span>
        </a>
      </li>
      <li>
        <a href="#tables">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a class="is-active" href="#titles">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Titles</span>
        </a>
      </li>
      <li>
        <a href="#nestedmedia">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Nested Media Objects</span>
        </a>
      </li>
      <li>
        <a href="#tiles">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Tiles</span>
        </a>
      </li>
      <li>
        <a href="#forms">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="#box">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Box</span>
        </a>
      </li>
      <li>
        <a href="#buttons">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Buttons</span>
        </a>
      </li>
      <li>
        <a href="#notification">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Notification</span>
        </a>
      </li>
      <li>
        <a href="#progress">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Progress Bars</span>
        </a>
      </li>
      <li>
        <a href="#datepicker">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Datepicker</span>
        </a>
      </li>
      <li>
        <a href="#tags">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Tags</span>
        </a>
      </li>
      <li>
        <a href="#tabs">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Tabs</span>
        </a>
      </li>
      <li>
        <a href="#dropdowns">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Dropdowns</span>
        </a>
      </li>
      <li>
        <a href="#modals">
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Modals</span>
        </a>
      </li>
      <li>
        <a href="#panel">
          <span class="icon">
            <i class="fas fa-atlas"></i>
          </span>
          <span>Panel</span>
        </a>
      </li>
      <li>
        <a href="#hero">
          <span class="icon">
            <i class="fas fa-camera-retro"></i>
          </span>
          <span>Hero Banner</span>
        </a>
      </li>
    </ul>
  </aside>
</div>
