<section class="section" id="tabs">
  <h2 class="title is-3">Tabs</h2>
  <div class="b-tabs">
    <nav class="tabs is-boxed">
      <ul>
        <li class=""><a><span class="icon"><i class="mdi mdi-google-photos mdi-24px"></i></span> <span>Pictures</span></a></li>
        <li class="is-active"><a><span class="icon"><i class="mdi mdi-library-music mdi-24px"></i></span> <span>Music</span></a></li>
        <li class=""><a><span class="icon"><i class="mdi mdi-video mdi-24px"></i></span> <span>Videos</span></a></li>
      </ul>
    </nav>
    <section class="tab-content">
      <div class="tab-item" style="display: none;"></div>
      <div class="tab-item" style=""></div>
      <div class="tab-item" style="display: none;"></div>
    </section>
  </div>
</section>
