<section class="section" id="tags">
  <h2 class="title is-3">Tags</h2>
  <div class="columns"><div class="column is-one-third">
  <div class="field is-grouped-multiline is-grouped">
    <!---->
    <div class="control">
      <div class="tags has-addons"><span class="tag is-dark"><span class="">npm</span>
        <!---->
        </span> <span class="tag is-info"><span class="">0.5.1</span>
        <!---->
        </span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons"><span class="tag is-dark"><span class="">downloads</span>
        <!---->
        </span> <span class="tag is-success"><span class="">15k</span>
        <!---->
        </span>
      </div>
    </div>
    <div class="control">
      <div class="tags has-addons"><span class="tag is-dark"><span class="">chat</span>
        <!---->
        </span> <span class="tag is-primary"><span class="">on discord</span>
        <!---->
        </span>
      </div>
    </div>
    <!---->
  </div> <br>
  <div class="field is-grouped-multiline is-grouped">
    <!---->
    <div class="control">
      <div class="tags has-addons"><span class="tag is-primary"><span class="">Technology</span></span> <a role="button" tabindex="0" class="tag is-delete"></a></div>
    </div>
    <div class="control">
      <div class="tags has-addons"><span class="tag is-primary"><span class="">Vuejs</span></span> <a role="button" tabindex="0" class="tag is-delete"></a></div>
    </div>
    <div class="control">
      <div class="tags has-addons"><span class="tag is-primary"><span class="">CSS</span></span> <a role="button" tabindex="0" class="tag is-delete"></a></div>
    </div>
    <div class="control">
      <div class="tags has-addons"><span class="tag is-primary"><span class="">Flexbox</span></span> <a role="button" tabindex="0" class="tag is-delete"></a></div>
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Success
        </label>
    <div class="taginput control">
      <div class="taginput-container is-success is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control has-icons-right is-clearfix"><input type="text" autocomplete="off" class="input is-success">
            <!----><span class="icon is-right has-text-success"><i class="mdi mdi-check mdi-24px"></i></span>
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Error
        </label>
    <div class="taginput control">
      <div class="taginput-container is-danger is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control has-icons-right is-clearfix"><input type="text" autocomplete="off" class="input is-danger">
            <!----><span class="icon is-right has-text-danger"><i class="mdi mdi-alert-circle mdi-24px"></i></span>
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Info
        </label>
    <div class="taginput control">
      <div class="taginput-container is-info is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control has-icons-right is-clearfix"><input type="text" autocomplete="off" class="input is-info">
            <!----><span class="icon is-right has-text-info"><i class="mdi mdi-information mdi-24px"></i></span>
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Warning
        </label>
    <div class="taginput control">
      <div class="taginput-container is-warning is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control has-icons-right is-clearfix"><input type="text" autocomplete="off" class="input is-warning">
            <!----><span class="icon is-right has-text-warning"><i class="mdi mdi-alert mdi-24px"></i></span>
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Disabled
        </label>
    <div class="taginput control">
      <div disabled="disabled" class="taginput-container is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" disabled="disabled" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control is-clearfix"><input type="text" autocomplete="off" disabled="disabled" class="input">
            <!---->
            <!---->
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div>
  <div class="field"><label class="label">
            Loading
        </label>
    <div class="taginput control">
      <div class="taginput-container is-focusable"><span class="tag"><span class="">
            Tag
        </span> <a role="button" class="delete is-small"></a></span>
        <div class="autocomplete control">
          <div class="control has-icons-right is-loading is-clearfix"><input type="text" autocomplete="off" class="input">
            <!---->
            <!---->
            <!---->
          </div>
          <div class="dropdown-menu" style="display: none;">
            <div class="dropdown-content">
              <!---->
              <!---->
            </div>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
  </div></div></div>
</section>
