<section class="section button-section" id="buttons">
  <h2 class="title is-3">Buttons</h2>

  <a class="button is-primary">Primary</a>
  <a class="button is-link">Link</a>
  <a class="button is-info">Info</a>
  <a class="button is-success">Success</a>
  <a class="button is-warning">Warning</a>
  <a class="button is-danger">Danger</a>

  <a class="button is-small">Small</a>
  <a class="button">Normal</a>
  <a class="button is-medium">Medium</a>
  <a class="button is-large">Large</a>

  <a class="button is-outlined">Outlined</a>
  <a class="button is-primary is-outlined">Outlined</a>
  <a class="button is-link is-outlined">Outlined</a>
  <a class="button is-info is-outlined">Outlined</a>
  <a class="button is-success is-outlined">Outlined</a>
  <a class="button is-danger is-outlined">Outlined</a>

  <a class="button is-rounded">Rounded</a>
  <a class="button is-primary is-rounded">Rounded</a>
  <a class="button is-link is-rounded">Rounded</a>
  <a class="button is-info is-rounded">Rounded</a>
  <a class="button is-success is-rounded">Rounded</a>
  <a class="button is-danger is-rounded">Rounded</a>

  <p class="buttons">
    <a class="button">
    <span class="icon is-small">
      <i class="fas fa-bold"></i>
    </span>
  </a>
    <a class="button">
    <span class="icon is-small">
      <i class="fas fa-italic"></i>
    </span>
  </a>
    <a class="button">
    <span class="icon is-small">
      <i class="fas fa-underline"></i>
    </span>
  </a>
  </p>
  <p class="buttons">
    <a class="button">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub</span>
  </a>
    <a class="button is-primary">
    <span class="icon">
      <i class="fab fa-twitter"></i>
    </span>
    <span>Twitter</span>
  </a>
    <a class="button is-success">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Save</span>
  </a>
    <a class="button is-danger is-outlined">
    <span>Delete</span>
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
  </a>
  </p>
  <p class="buttons">
    <a class="button is-small">
    <span class="icon is-small">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub</span>
  </a>
    <a class="button">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub</span>
  </a>
    <a class="button is-medium">
    <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub</span>
  </a>
    <a class="button is-large">
    <span class="icon is-medium">
      <i class="fab fa-github"></i>
    </span>
    <span>GitHub</span>
  </a>
  </p>
</section>
