<section class="section" id="datepicker">
  <h2 class="title is-3">Datepicker</h2>
  <div class="columns"><div class="column is-narrow">
  <div class="datepicker control"><div class="dropdown is-inline is-active"><!----> <!----> <div class="dropdown-menu"><div class="dropdown-content"><!----> <div class="dropdown-item"><header class="datepicker-header"><div class="pagination field is-centered"><a role="button" href="#" class="pagination-previous"><span class="icon has-text-primary is"><i class="mdi mdi-chevron-left mdi-24px"></i></span></a> <a role="button" href="#" class="pagination-next"><span class="icon has-text-primary is"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a> <div class="pagination-list"><div class="field has-addons"><!----> <div class="control"><span class="select"><select><!----> <option value="0">
                                    January
                                </option><option value="1">
                                    February
                                </option><option value="2">
                                    March
                                </option><option value="3">
                                    April
                                </option><option value="4">
                                    May
                                </option><option value="5">
                                    June
                                </option><option value="6">
                                    July
                                </option><option value="7">
                                    August
                                </option><option value="8">
                                    September
                                </option><option value="9">
                                    October
                                </option><option value="10">
                                    November
                                </option><option value="11">
                                    December
                                </option></select></span> <!----></div> <div class="control"><span class="select"><select><!----> <option value="2021">
                                    2021
                                </option><option value="2020">
                                    2020
                                </option><option value="2019">
                                    2019
                                </option><option value="2018">
                                    2018
                                </option><option value="2017">
                                    2017
                                </option><option value="2016">
                                    2016
                                </option><option value="2015">
                                    2015
                                </option><option value="2014">
                                    2014
                                </option><option value="2013">
                                    2013
                                </option><option value="2012">
                                    2012
                                </option><option value="2011">
                                    2011
                                </option><option value="2010">
                                    2010
                                </option><option value="2009">
                                    2009
                                </option><option value="2008">
                                    2008
                                </option><option value="2007">
                                    2007
                                </option><option value="2006">
                                    2006
                                </option><option value="2005">
                                    2005
                                </option><option value="2004">
                                    2004
                                </option><option value="2003">
                                    2003
                                </option><option value="2002">
                                    2002
                                </option><option value="2001">
                                    2001
                                </option><option value="2000">
                                    2000
                                </option><option value="1999">
                                    1999
                                </option><option value="1998">
                                    1998
                                </option><option value="1997">
                                    1997
                                </option><option value="1996">
                                    1996
                                </option><option value="1995">
                                    1995
                                </option><option value="1994">
                                    1994
                                </option><option value="1993">
                                    1993
                                </option><option value="1992">
                                    1992
                                </option><option value="1991">
                                    1991
                                </option><option value="1990">
                                    1990
                                </option><option value="1989">
                                    1989
                                </option><option value="1988">
                                    1988
                                </option><option value="1987">
                                    1987
                                </option><option value="1986">
                                    1986
                                </option><option value="1985">
                                    1985
                                </option><option value="1984">
                                    1984
                                </option><option value="1983">
                                    1983
                                </option><option value="1982">
                                    1982
                                </option><option value="1981">
                                    1981
                                </option><option value="1980">
                                    1980
                                </option><option value="1979">
                                    1979
                                </option><option value="1978">
                                    1978
                                </option><option value="1977">
                                    1977
                                </option><option value="1976">
                                    1976
                                </option><option value="1975">
                                    1975
                                </option><option value="1974">
                                    1974
                                </option><option value="1973">
                                    1973
                                </option><option value="1972">
                                    1972
                                </option><option value="1971">
                                    1971
                                </option><option value="1970">
                                    1970
                                </option><option value="1969">
                                    1969
                                </option><option value="1968">
                                    1968
                                </option><option value="1967">
                                    1967
                                </option><option value="1966">
                                    1966
                                </option><option value="1965">
                                    1965
                                </option><option value="1964">
                                    1964
                                </option><option value="1963">
                                    1963
                                </option><option value="1962">
                                    1962
                                </option><option value="1961">
                                    1961
                                </option><option value="1960">
                                    1960
                                </option><option value="1959">
                                    1959
                                </option><option value="1958">
                                    1958
                                </option><option value="1957">
                                    1957
                                </option><option value="1956">
                                    1956
                                </option><option value="1955">
                                    1955
                                </option><option value="1954">
                                    1954
                                </option><option value="1953">
                                    1953
                                </option><option value="1952">
                                    1952
                                </option><option value="1951">
                                    1951
                                </option><option value="1950">
                                    1950
                                </option><option value="1949">
                                    1949
                                </option><option value="1948">
                                    1948
                                </option><option value="1947">
                                    1947
                                </option><option value="1946">
                                    1946
                                </option><option value="1945">
                                    1945
                                </option><option value="1944">
                                    1944
                                </option><option value="1943">
                                    1943
                                </option><option value="1942">
                                    1942
                                </option><option value="1941">
                                    1941
                                </option><option value="1940">
                                    1940
                                </option><option value="1939">
                                    1939
                                </option><option value="1938">
                                    1938
                                </option><option value="1937">
                                    1937
                                </option><option value="1936">
                                    1936
                                </option><option value="1935">
                                    1935
                                </option><option value="1934">
                                    1934
                                </option><option value="1933">
                                    1933
                                </option><option value="1932">
                                    1932
                                </option><option value="1931">
                                    1931
                                </option><option value="1930">
                                    1930
                                </option><option value="1929">
                                    1929
                                </option><option value="1928">
                                    1928
                                </option><option value="1927">
                                    1927
                                </option><option value="1926">
                                    1926
                                </option><option value="1925">
                                    1925
                                </option><option value="1924">
                                    1924
                                </option><option value="1923">
                                    1923
                                </option><option value="1922">
                                    1922
                                </option><option value="1921">
                                    1921
                                </option><option value="1920">
                                    1920
                                </option><option value="1919">
                                    1919
                                </option><option value="1918">
                                    1918
                                </option><option value="1917">
                                    1917
                                </option><option value="1916">
                                    1916
                                </option><option value="1915">
                                    1915
                                </option><option value="1914">
                                    1914
                                </option><option value="1913">
                                    1913
                                </option><option value="1912">
                                    1912
                                </option><option value="1911">
                                    1911
                                </option><option value="1910">
                                    1910
                                </option><option value="1909">
                                    1909
                                </option><option value="1908">
                                    1908
                                </option><option value="1907">
                                    1907
                                </option><option value="1906">
                                    1906
                                </option><option value="1905">
                                    1905
                                </option><option value="1904">
                                    1904
                                </option><option value="1903">
                                    1903
                                </option><option value="1902">
                                    1902
                                </option><option value="1901">
                                    1901
                                </option><option value="1900">
                                    1900
                                </option></select></span> <!----></div> <!----></div></div></div></header> <section class="datepicker-table"><header class="datepicker-header"><div class="datepicker-cell">
            Su
        </div><div class="datepicker-cell">
            M
        </div><div class="datepicker-cell">
            Tu
        </div><div class="datepicker-cell">
            W
        </div><div class="datepicker-cell">
            Th
        </div><div class="datepicker-cell">
            F
        </div><div class="datepicker-cell">
            S
        </div></header> <div class="datepicker-body has-events"><div class="datepicker-row"><div class="datepicker-cell is-unselectable">
            27
        </div><div class="datepicker-cell is-unselectable">
            28
        </div><div class="datepicker-cell is-unselectable">
            29
        </div><div class="datepicker-cell is-unselectable">
            30
        </div><div class="datepicker-cell is-unselectable">
            31
        </div><a role="button" href="#" class="datepicker-cell is-selected is-selectable dots">
            1

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            2

            <div class="events"><div class="event is-primary"></div></div></a></div><div class="datepicker-row"><a role="button" href="#" class="datepicker-cell is-selectable dots">
            3

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            4

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            5

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            6

            <div class="events"><div class="event is-primary"></div><div class="event is-info"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            7

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            8

            <div class="events"><div class="event is-danger"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            9

            <!----></a></div><div class="datepicker-row"><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            10

            <div class="events"><div class="event is-success"></div><div class="event is-link"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            11

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            12

            <div class="events"><div class="event is-primary"></div><div class="event is-warning"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            13

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            14

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            15

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            16

            <div class="events"><div class="event is-danger"></div></div></a></div><div class="datepicker-row"><a role="button" href="#" class="datepicker-cell is-selectable dots">
            17

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            18

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            19

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            20

            <div class="events"><div class="event is-primary"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            21

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            22

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            23

            <!----></a></div><div class="datepicker-row"><a role="button" href="#" class="datepicker-cell is-selectable dots">
            24

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            25

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            26

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            27

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            28

            <!----></a><a role="button" href="#" class="datepicker-cell is-selectable has-event dots">
            29

            <div class="events"><div class="event is-success"></div><div class="event is-warning"></div><div class="event is-info"></div></div></a><a role="button" href="#" class="datepicker-cell is-selectable dots">
            30

            <!----></a></div></div></section> <!----></div></div></div></div></div></div></div>
</section>
