<section class="section" id="hero">
  <h2 class="title is-3">Hero Banner</h2>
  <section class="hero is-primary">
    <div class="hero-body">
        <h1 class="title">
          Primary title
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
    </div>
  </section>
</section>
