<section class="section">
  <h2 class="title is-3">Progress Bars</h2>
  <progress class="progress is-primary" value="15" max="100">15%</progress>
  <progress class="progress is-link" value="30" max="100">30%</progress>
  <progress class="progress is-info" value="45" max="100">45%</progress>
  <progress class="progress is-success" value="60" max="100">60%</progress>
  <progress class="progress is-warning" value="75" max="100">75%</progress>
  <progress class="progress is-danger" value="90" max="100">90%</progress>
  <progress class="progress is-small" value="15" max="100">15%</progress>
  <progress class="progress" value="30" max="100">30%</progress>
  <progress class="progress is-medium" value="45" max="100">45%</progress>
  <progress class="progress is-large" value="60" max="100">60%</progress>
</section>
