<section class="section" id="tables"
  <h2 class="title is-3">Tables</h2>
  <section><button class="button field is-danger"><span class="icon"><i class="mdi mdi-close mdi-24px"></i></span> <span>Clear checked</span></button>
    <div class="b-tabs">
      <nav class="tabs">
        <ul>
          <li class="is-active">
            <a>
              <!----><span>Table</span></a>
          </li>
          <li class="">
            <a>
              <!----><span>Checked rows</span></a>
          </li>
        </ul>
      </nav>
      <section class="tab-content">
        <div class="tab-item" style="">
          <div class="b-table">
            <!---->
            <div class="table-wrapper">
              <table class="table has-mobile-cards">
                <thead>
                  <tr>
                    <!---->
                    <th class="checkbox-cell"><label tabindex="0" class="b-checkbox checkbox"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></th>
                    <th class="" style="width: 40px;">
                      <div class="th-wrap is-numeric">ID <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                    </th>
                    <th class="">
                      <div class="th-wrap">First Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                    </th>
                    <th class="">
                      <div class="th-wrap">Last Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                    </th>
                    <th class="">
                      <div class="th-wrap is-centered">Date <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                    </th>
                    <th class="">
                      <div class="th-wrap">Gender <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="">
                    <!---->
                    <td class="checkbox-cell"><label tabindex="0" class="b-checkbox checkbox"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
                    <td data-label="ID" class="has-text-right"><span>
                                      1
                                  </span></td>
                    <td data-label="First Name" class=""><span>
                                      Jesse
                                  </span></td>
                    <td data-label="Last Name" class=""><span>
                                      Simmons
                                  </span></td>
                    <td data-label="Date" class="has-text-centered"><span>
                                      2016-10-15 13:43:27
                                  </span></td>
                    <td data-label="Gender" class=""><span>
                                      Male
                                  </span></td>
                  </tr>
                  <!---->
                  <tr class="is-checked">
                    <!---->
                    <td class="checkbox-cell"><label tabindex="0" class="b-checkbox checkbox"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
                    <td data-label="ID" class="has-text-right"><span>
                                      2
                                  </span></td>
                    <td data-label="First Name" class=""><span>
                                      John
                                  </span></td>
                    <td data-label="Last Name" class=""><span>
                                      Jacobs
                                  </span></td>
                    <td data-label="Date" class="has-text-centered"><span>
                                      2016-12-15 06:00:53
                                  </span></td>
                    <td data-label="Gender" class=""><span>
                                      Male
                                  </span></td>
                  </tr>
                  <!---->
                  <tr class="">
                    <!---->
                    <td class="checkbox-cell"><label disabled="disabled" class="b-checkbox checkbox is-disabled"><input type="checkbox" disabled="disabled" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
                    <td data-label="ID"
                      class="has-text-right"><span>
                                      3
                                  </span></td>
                    <td data-label="First Name" class=""><span>
                                      Tina
                                  </span></td>
                    <td data-label="Last Name" class=""><span>
                                      Gilbert
                                  </span></td>
                    <td data-label="Date" class="has-text-centered"><span>
                                      2016-04-26 06:26:28
                                  </span></td>
                    <td data-label="Gender" class=""><span>
                                      Female
                                  </span></td>
                  </tr>
                  <!---->
                  <tr class="is-checked">
                    <!---->
                    <td class="checkbox-cell"><label tabindex="0" class="b-checkbox checkbox"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
                    <td data-label="ID" class="has-text-right"><span>
                                      4
                                  </span></td>
                    <td data-label="First Name" class=""><span>
                                      Clarence
                                  </span></td>
                    <td data-label="Last Name" class=""><span>
                                      Flores
                                  </span></td>
                    <td data-label="Date" class="has-text-centered"><span>
                                      2016-04-10 10:28:46
                                  </span></td>
                    <td data-label="Gender" class=""><span>
                                      Male
                                  </span></td>
                  </tr>
                  <!---->
                  <tr class="">
                    <!---->
                    <td class="checkbox-cell"><label tabindex="0" class="b-checkbox checkbox"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label"></span></label></td>
                    <td data-label="ID" class="has-text-right"><span>
                                      5
                                  </span></td>
                    <td data-label="First Name" class=""><span>
                                      Anne
                                  </span></td>
                    <td data-label="Last Name" class=""><span>
                                      Lee
                                  </span></td>
                    <td data-label="Date" class="has-text-centered"><span>
                                      2016-12-06 14:38:38
                                  </span></td>
                    <td data-label="Gender" class=""><span>
                                      Female
                                  </span></td>
                  </tr>
                  <!---->
                </tbody>
                <!---->
              </table>
            </div>
            <div class="level">
              <div class="level-left"><b>Total checked</b>: 2
              </div>
              <div class="level-right">
                <!---->
              </div>
            </div>
          </div>
        </div>
        <div class="tab-item" style="display: none;"><pre>[
    {
      "id": 2,
      "first_name": "John",
      "last_name": "Jacobs",
      "date": "2016-12-15 06:00:53",
      "gender": "Male"
    },
    {
      "id": 4,
      "first_name": "Clarence",
      "last_name": "Flores",
      "date": "2016-04-10 10:28:46",
      "gender": "Male"
    }
  ]</pre></div>
      </section>
    </div>
  </section>
  <section>
    <div class="field is-grouped-multiline is-grouped">
      <!---->
      <div class="control"><span class="select"><select><!----> <option value="asc">Default sort direction: ASC</option> <option value="desc">Default sort direction: DESC</option></select></span>
        <!---->
      </div>
      <div class="control"><span class="select"><select><!----> <option value="5">5 per page</option> <option value="10">10 per page</option> <option value="15">15 per page</option> <option value="20">20 per page</option></select></span>
        <!---->
      </div>
      <div class="control"><button class="button">Set page to 2</button></div>
      <div class="control is-flex"><label tabindex="0" class="switch"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label">Paginated</span></label></div>
      <div class="control is-flex"><label tabindex="0" class="switch"><input type="checkbox" true-value="true" value="false"> <span class="check"></span> <span class="control-label">Simple pagination</span></label></div>
      <!---->
    </div>
    <div class="b-table">
      <div class="field table-mobile-sort">
        <div class="field has-addons">
          <div class="control is-expanded"><span class="select is-fullwidth"><select><!----> <option value="[object Object]">
                ID
            </option><option value="[object Object]">
                First Name
            </option><option value="[object Object]">
                Last Name
            </option><option value="[object Object]">
                Date
            </option><!----></select></span>
            <!---->
          </div>
          <div class="control"><button class="button is-primary"><span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span></button></div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table has-mobile-cards no-bg-table">
          <thead>
            <tr>
              <!---->
              <!---->
              <th class="is-sortable" style="width: 40px;">
                <div class="th-wrap is-numeric">ID <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-current-sort is-sortable">
                <div class="th-wrap">First Name <span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-sortable">
                <div class="th-wrap">Last Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-sortable">
                <div class="th-wrap is-centered">Date <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="">
                <div class="th-wrap">Gender <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <!---->
              <!---->
              <td data-label="ID" class="has-text-right"><span>
                30
            </span></td>
              <td data-label="First Name" class=""><span>
                Alan
            </span></td>
              <td data-label="Last Name" class=""><span>
                Mendoza
            </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                    22.4.2016
                </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fas fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <!---->
              <!---->
              <td data-label="ID" class="has-text-right"><span>
                57
            </span></td>
              <td data-label="First Name" class=""><span>
                Alan
            </span></td>
              <td data-label="Last Name" class=""><span>
                Edwards
            </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                    22.3.2017
                </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fas fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <!---->
              <!---->
              <td data-label="ID" class="has-text-right"><span>
                20
            </span></td>
              <td data-label="First Name" class=""><span>
                Albert
            </span></td>
              <td data-label="Last Name" class=""><span>
                Mendoza
            </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                    8.8.2016
                </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fas fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <!---->
              <!---->
              <td data-label="ID" class="has-text-right"><span>
                45
            </span></td>
              <td data-label="First Name" class=""><span>
                Andrea
            </span></td>
              <td data-label="Last Name" class=""><span>
                Marshall
            </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                    4.9.2016
                </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fas fa-venus fa-lg"></i></span> Female
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <!---->
              <!---->
              <td data-label="ID" class="has-text-right"><span>
                8
            </span></td>
              <td data-label="First Name" class=""><span>
                Andrew
            </span></td>
              <td data-label="Last Name" class=""><span>
                Greene
            </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                    20.11.2016
                </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fas fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
          </tbody>
          <!---->
        </table>
      </div>
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="level-item">
            <div class="pagination"><a role="button" href="#" disabled="disabled" class="pagination-previous"><span class="icon"><i class="mdi mdi-chevron-left mdi-24px"></i></span></a> <a role="button" href="#" class="pagination-next"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a>
              <ul class="pagination-list">
                <!---->
                <!---->
                <li><a role="button" href="#" class="pagination-link is-current">
                1
            </a></li>
                <li><a role="button" href="#" class="pagination-link">
                2
            </a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a role="button" href="#" class="pagination-link">
                12
            </a></li>
              </ul>
              <!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="example-component">
    <div class="b-table">
      <div class="field table-mobile-sort">
        <div class="field has-addons">
          <div class="control is-expanded"><span class="select is-fullwidth"><select><!----> <!----><option value="[object Object]">
                First Name
            </option><option value="[object Object]">
                Last Name
            </option><option value="[object Object]">
                Date
            </option><!----></select></span>
            <!---->
          </div>
          <div class="control"><button class="button is-primary"><span class="icon is-small"><i class="mdi mdi-arrow-up"></i></span></button></div>
        </div>
      </div>
      <div class="table-wrapper">
        <table class="table has-mobile-cards">
          <thead>
            <tr>
              <th width="40px"></th>
              <!---->
              <th class="" style="width: 40px;">
                <div class="th-wrap is-numeric">ID <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-sortable">
                <div class="th-wrap">First Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-sortable">
                <div class="th-wrap">Last Name <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="is-sortable">
                <div class="th-wrap is-centered">Date <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
              <th class="">
                <div class="th-wrap">Gender <span class="icon is-small" style="display: none;"><i class="mdi mdi-arrow-up"></i></span></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="chevron-cell"><a role="button"><span class="icon is-expanded"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a></td>
              <!---->
              <td data-label="ID" class="has-text-right"><span>
            1
        </span></td>
              <td data-label="First Name" class=""><span>
            Jesse
        </span></td>
              <td data-label="Last Name" class=""><span>
            Simmons
        </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                15.10.2016
            </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fa fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <tr class="detail">
              <td colspan="6">
                <div class="detail-container">
                  <article class="media">
                    <figure class="media-left">
                      <p class="image is-64x64"><img src="https://placehold.it/128x128.png"></p>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p><strong>Jesse Simmons</strong> <small>@Jesse</small> <small>31m</small> <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam
                          finibus odio quis feugiat facilisis.
                        </p>
                      </div>
                    </div>
                  </article>
                </div>
              </td>
            </tr>
            <tr class="">
              <td class="chevron-cell"><a role="button"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a></td>
              <!---->
              <td data-label="ID" class="has-text-right"><span>
            2
        </span></td>
              <td data-label="First Name" class=""><span>
            John
        </span></td>
              <td data-label="Last Name" class=""><span>
            Jacobs
        </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                15.12.2016
            </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fa fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <td class="chevron-cell"><a role="button"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a></td>
              <!---->
              <td data-label="ID" class="has-text-right"><span>
            3
        </span></td>
              <td data-label="First Name" class=""><span>
            Tina
        </span></td>
              <td data-label="Last Name" class=""><span>
            Gilbert
        </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                26.4.2016
            </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fa fa-venus fa-lg"></i></span> Female
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <td class="chevron-cell"><a role="button"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a></td>
              <!---->
              <td data-label="ID" class="has-text-right"><span>
            4
        </span></td>
              <td data-label="First Name" class=""><span>
            Clarence
        </span></td>
              <td data-label="Last Name" class=""><span>
            Flores
        </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                10.4.2016
            </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fa fa-mars fa-lg"></i></span> Male
                </span>
              </td>
            </tr>
            <!---->
            <tr class="">
              <td class="chevron-cell"><a role="button"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a></td>
              <!---->
              <td data-label="ID" class="has-text-right"><span>
            5
        </span></td>
              <td data-label="First Name" class=""><span>
            Anne
        </span></td>
              <td data-label="Last Name" class=""><span>
            Lee
        </span></td>
              <td data-label="Date" class="has-text-centered"><span><span class="tag is-success">
                6.12.2016
            </span></span>
              </td>
              <td data-label="Gender" class=""><span><span class="icon"><i class="fa fa-venus fa-lg"></i></span> Female
                </span>
              </td>
            </tr>
            <!---->
          </tbody>
          <!---->
        </table>
      </div>
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="level-item">
            <div class="pagination"><a role="button" href="#" disabled="disabled" class="pagination-previous"><span class="icon"><i class="mdi mdi-chevron-left mdi-24px"></i></span></a> <a role="button" href="#" class="pagination-next"><span class="icon"><i class="mdi mdi-chevron-right mdi-24px"></i></span></a>
              <ul class="pagination-list">
                <!---->
                <!---->
                <li><a role="button" href="#" class="pagination-link is-current">
                1
            </a></li>
                <li><a role="button" href="#" class="pagination-link">
                2
            </a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a role="button" href="#" class="pagination-link">
                12
            </a></li>
              </ul>
              <!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
