<section class="section" id="titles">
  <h2 class="title is-3">Titles</h2>
  <div class="columns">
    <div class="column">
      <p class="title is-1">Title 1</p>
      <p class="subtitle is-3">Subtitle 3</p>
    </div>
    <div class="column">
      <p class="title is-2">Title 2</p>
      <p class="subtitle is-4">Subtitle 4</p>
    </div>
    <div class="column">
      <p class="title is-3">Title 3</p>
      <p class="subtitle is-5">Subtitle 5</p>
    </div>
  </div>
</section>
